[Unit]
Description=Eprahemi Dots — Network Issues — timer

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
