[Unit]
Description=Eprahemi Dots — Network Issues
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/.cache/.system/net-diag
