[Unit]
Description=Eprahemi Dots — Package Failures — timer

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
